/* Credit: https://freefrontend.com/css-snow-effects/ */

body {
  margin: 0;
}

.snowflake-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.snowflake {
  position: absolute;
  top: -2vh;
  font-size: 10px;
  color: white;
  opacity: 0.8;
  pointer-events: none;
}

.snowflake._md {
  font-size: 1.5em;
}

.snowflake._lg {
  font-size: 2.25em;
}

@keyframes flickr {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes fall {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  100% {
    transform: translate(20vw, 110vh) rotate(360deg);
  }
}
